* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body, html {
    height: 100%;
    background-image: url('https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
